[Unit]
Description=PlutoTV-LocalServer
After=network.target
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/home/pi/plutoTV-tvheadend/plutotv-localserver.pl
WorkingDirectory=/home/pi/plutoTV-tvheadend/
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=10
User=pi

[Install]
WantedBy=multi-user.target
